@import 'reset';

//variables
$font-stack:    Helvetica, Verdana, sans-serif;
$primary-color: #333;

// generic styles
body {
   font-family:  $font-stack;
}

h1{
    font-size: 2em;
    color: $primary-color
}

@import 'list-page';
@import 'book-form';