<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Edit</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="book-form">
  <h1>Book Edit</h1>

  <form method="POST" action="/book/edit/{{book.bookId}}"> 
  <input placeholder="title" name="title" value="{{book.title}}">
   <input placeholder="authors" name="authors" value="{{book.authors}}">
   <button type="submit">save</button>
  </form>
  <p>A Simple Paragraph</p>
</body>
</html>
