<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book List</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body class="list-page">
  <h1>Book List Page</h1>
  <p>Currently no notebooks listed</p>
  <table>
  {{#books}}
    <tr>
      <td>{{bookId}}</td>
       <td>{{title}}</td>
       <td>{{authors}}</td>
       <td><a href="/book/edit/{{bookId}}">edit</a></td>
       <td>
         <form method="POST" action="/book/delete/{{bookId}}">
         <button type="submit">delete</button>
         </form>
       </td>
    </tr>
  {{/books}}
  </table>
</body>
</html>
